.underStandingProcess{
  background: rgba(252, 252, 252, 0.1);
}

.stepBox {
  margin-right: 0;
  max-width: 250px;


  -webkit-animation-name: contentBoxFadeInLeft;
  animation-name: contentBoxFadeInLeft;

  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;


}

.arrowBox {
  margin-top: 80px;
  margin-right: 0;
  max-width: 50px;
}
