.footer-container {
  width: 100%;
  height: 100%;
  background: #001a4b;
  > .wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;
    > .footer-box {
      flex: 1 1 33%;
       h2 {

        margin-top: 0;
      }
      ul {
        padding-left: 135px;
        list-style: none;
        li {
          color: #FAFAFA;
          padding: 5px;
          cursor: pointer;
          transition: all .2s ease-in;
          font-size: 1.250em;
        }
        li:hover {
          text-decoration: underline;
        }
      }
    }
    > .footer-box.contact {
      ul {
        padding-left: 120px;
        list-style: none;
        li {
          color: #FAFAFA;
          padding: 5px;
          cursor: pointer;
          transition: all .2s ease-in;
          font-size: 1.250em;
        }
        li:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.inner-footer {
  margin: 0 auto ;
  background: #011233 ;
  text-align: center;
  p {
    margin: 0;
    padding-top: 20px;
    color: #FAFAFA;
    font-size: 1em;
    font-weight: 400;
  }
  .easycarros {
    width: 300px;
    margin: 10px auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    > p {
      padding-top: 0px;
      display: inline-block;
    }
    > img {
      display: inline-block;
      width: 200px;
    }
  }
}
