$white: #FFF;

.topMenu{
  width: 100%;
  height: 70px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: transparent;
  transition: .3s ease-out;
  will-change: background;
}

.fixedMenu{
  background: rgba(0, 27, 75, 0.9);
}

.fixedMenu header {
  border-bottom: none !important;
}

.topMenu header {

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;

  border-bottom: solid 1px #FFFFFF;

  transition: all .2s ease-in;

  > a {
    cursor: pointer;

    img {
      width: 180px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

  }

  > nav {

    display: inline-flex;
    float: right;
    margin: -7px 0;

    .mobileMenu{

      height: 50px;
      padding-top: 6px;
      padding-bottom: 6px;
      width: 0px;
      visibility: hidden;

      .login-button{
        min-width: 90px;
        position: relative;

        background: #3ec4e3;
        color: #FFFFFF;


        font-size: 1.250em;
        font-weight: 600;
        text-transform: uppercase;

        top: 10%;
        right: 40%;

        padding: 15px 10px;

        border: solid 2px #3ec4e3;
        border-radius: 7px;

        transition: all .2s ease-in;
      }

      .login-button:hover{
        background: #3ec4e3;
      }

    }

    > ul {
        list-style: none;
        align-content: center;
        padding: 6px 0;

        .divider{
          position: relative;
          top: 15px;
          > hr {
            width: 1px;
            height: 25px;
            border: none;
            outline: none;
            background: #FFF;
          }
        }

        li {

          display: inline-block;
          padding-right: 30px;

          .login-button{
            min-width: 90px;

            background: transparent;
            color: #FFFFFF;

            font-size: 1.250em;
            font-weight: 600;
            text-transform: uppercase;

            padding: 15px 10px;

            border: solid 2px #3ec4e3;
            border-radius: 7px;

            transition: all .2s ease-in;
          }

          .login-button:hover{
            background: #3ec4e3;
          }

          a {
              cursor: pointer;
              font-size: 18px; /* 18px */
              text-decoration: none;
              color: $white;
            }
            a:after{
              content: '';
              display: block;
              margin: auto;
              height: 2px;
              width: 0px;
              background: transparent;
              transition: width .3s ease, background-color .3s ease;
            }

            a:hover:after{
             width: 100%;
             background: #3ec4e3;
            }
          }
        }
        li:last-child{
          padding-right: 0;
        }
      }
    }
