@media screen and (min-width: 320px) and (max-width: 770px) {

  .topMenu{
    background: #001b4b;
    header {
      nav {
        ul {
          visibility: hidden;
          width: 0px;
        }
        .mobileMenu{
          width: 100px;
          visibility: visible;
          > .buttonStyle{
            width: 80px;
            padding: 10px 5px;
            position: relative;
            left: -20px;
            background: #3ec4e3;
            color: #FFF;
          }
        }
      }
    }
  }



  .banner {
    > .wrapper{
      h1 {
        margin-top: 20px;
        font-size: 1.563em; //25px
      }
      h2{
        font-size: 1em; //16px
      }
      .ArrowDown {
        margin-top: 20px;
        a {
          font-size: 1em;
        }
      }
    }
  }

  .bannerBox{
    .inputContainer{
      margin-top: 10px;
      text-align: center;
      display: block;
      input {
        display: block;
        margin: 10px auto;
      }
      > .buttonStyle{
        display: block;
        margin: 5px auto;
        width: 270px;
      }
    }
  }

  .servicesContainer {
    > .wrapper{
      h2{
        margin-top: 100px;
        font-size: 1.563em; //25px
      }
      h3{
        font-size: 1em; //16px
        margin-bottom: 50px;
      }
    }
  }

  .image-Description{
    float: none;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    p{
      width: 200px;
      margin-bottom: 100px;
    }
    > img {
      width: 200px;
    }
  }

  .serviceList-Container{
    float: none;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contentBox {
    float: none;
    margin: 50px auto;
    h4 {
      font-size: 1.063em; //17px
    }
    p {
      font-size: 1em; //16px
    }
  }

  .contentBox:last-child{
    margin: 50px auto;
  }

  .stepBox {
    float: none;
    margin: 0 auto;
    margin-top: 10px;
  }

  .stepBox:last-child{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .productBox {
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    > h4{
      font-size: 1.250em; //20px
    }
  }

  .productBox:first-child {
    float: none;
    margin: 0 auto;
    margin-top: 20px;
  }

  .productBox:last-child{
    margin: 50px auto;
    margin-bottom: 100px;
  }

  .arrowBox {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  //commons
  .wrapper {
    padding-left: 0;
    padding-right: 0;
    h2{
      margin-top: 100px;
      font-size: 1.563em; //25px
    }
    h3{
      font-size: 1em; //16px
      margin-bottom: 50px;
    }
  }

  .partnersButton{
    margin-bottom: 100px;
  }

  .footerContent{
    .contentBox{
      #map{
        visibility: hidden;
        max-height: 0;
      }
    }
  }
}
