@media screen and (min-width: 320px) and (max-width: 770px) {

  .bannerBox{
    .inputContainer{
      margin-top: 10px;
      text-align: center;
      display: block;
      input {
        display: block;
        margin: 10px auto;
      }
      > .buttonStyle{
        display: block;
        margin: 5px auto;
        width: 270px;
      }
    }
  }

  .servicesContainer {
    > .wrapper{
      h2{
        margin-top: 100px;
        font-size: 1.563em; //25px
      }
      h3{
        font-size: 1em; //16px
        margin-bottom: 50px;
      }
    }
  }

  .image-Description{
    float: none;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    p{
      width: 200px;
      margin-bottom: 100px;
    }
    > img {
      width: 200px;
    }
  }

  .arrowBox {
    visibility: hidden;
    width: 0;
    height: 0;
  }

}
