.bannerBox{
  width: 100%;
  max-width: 550px;
  margin: auto;
  display: block;
  padding: 5px 0;
  border-radius: 20px;
  background: transparent;
  text-align: center;
  //background: rgba(255, 255, 255, 0.07);

}

.inputContainer {
  margin: auto;
  width: 100%;
  position: relative;
  display: inline-block;
  > input {
    width: 250px;
    font-size: 20px;
    padding: 15px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.40);
  }
  > .buttonStyle {
    width: 150px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 20px;
  }
}
