$white: #FFF;
$heading01: 3.125em; /* 50px */
$heading02: 1.8em; /* 30px */
$heading04: 1em; /* 16px */
$light: 300;
$regular: 400;
$bold: 700;

@import "./_bannerBox.scss";

.banner{
  background: url('../../img/AvPaulista.png') no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  > .wrapper{
    h1 {
      margin: 0;
      padding-top: 4em;
      text-align: center;
      line-height: 1;
      color: $white;
      font-size: $heading01;
      font-weight: $regular;
      > span {
        font-weight: $bold;
      }
    }
    h2 {
      line-height: 1;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      color: $white;
      font-size: $heading02;
      font-weight: $light;
    }
  }

  .ArrowDown {
    width: 100%;
    max-width: 200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    > a {
      line-height: 1;
      display: block;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.2em;
      > span {
        position: relative;
        top: 20px;
        display: block;
        font-size: $heading04;
        font-weight: $bold;
        padding: 0;
        margin: 0;
      }
      > img{
        margin-top: 30px;
        width: 50px;
        fill: #3ec4e3 !important;
        animation: bounceInDown infinite 1s linear;
      }
      #arrow:hover{
        fill: #3ec4e3;
      }
      text-decoration: none;
      color: #3ec4e3;
      transition: color .3s ease-out;
    }
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }


  to {
    -webkit-transform: none;
    transform: none;
  }
}
