.bannerBox{
  width: 100%;
  max-width: 550px;
  margin: auto;
  display: block;
  padding: 5px 0;
  border-radius: 20px;
  background: transparent;
  text-align: center;
  //background: rgba(255, 255, 255, 0.07);

  .buttonStyle {
    background: #3a61b3;
    color: #FAFAFA;
    border: solid 1px transparent;
  }

  .buttonStyle:hover{
    background: transparent;
    border: solid 1px #FAFAFA;
  }

}
