.buttonStyle {
  min-width: 200px;
  height: 100%;
  padding: 8px 35px;
  margin-top: 16px;
  margin-bottom: 16px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em; /* 16px */
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  background: #1883bb; /* For browsers that do not support gradients */
  color: #FFF;

  outline: none;
  border: solid 2px transparent;
  border-radius: 3.00px;

  transition: all .2s ease-in;
}

.buttonStyle:hover{
  background: rgba(24, 131, 187, .70);
}

.buttonStyle:active{
  background: rgba(24, 131, 187, .30);
}
