.buttonStyle {
  background: transparent;
  color: #FFFFFF;

  min-width: 130px;
  outline: none;

  font-size: 1.250em;
  font-weight: 300;
  text-transform: uppercase;

  padding: 11px 47px 9px;

  border: 2px solid #FFFFFF;
  border-radius: 500px;

  transition: all .2s ease-in;
}

.buttonStyle:hover{
  color: #3ec4e3;
  background: #FFF;
}
