.contentBox {
  width: 100%;
  flex: 1 1 33%;
  text-align: center;

  > h4 {
    width: 200px;
    margin: 15px auto;
    text-align: center;
    color: rgb(24,131,187);;
    font-size: 1.563em; /* 25px */
    font-weight: 700;
  }
  > p {
    margin: 10px;
    text-align: center;
    color: #817f7d;
    font-size: 1.063em; /* 17px */
    line-height: 1.2;
    font-weight: 400;
  }
}

@media screen and (min-width: 320px) and (max-width: 770px) {
  .contentBox {
    flex:  1 1 100%;
    margin: 20px;
    h4 {
      font-size: 1.250em;
    }
    p {
      font-size: 1em; //16px
    }
  }
}
