.contentBox {
  width: 100%;
  margin-top: 60px;
  margin-right: 20px;
  margin-bottom: 80px;
  float: left;
  text-align: center;

  > h4 {
    width: 200px;
    margin: 15px auto;
    text-align: center;
    color: #3ec4e3;
    font-size: 1.563em; /* 25px */
    font-weight: 700;
  }
  > p {
    margin: 10px;
    text-align: center;
    color: #817f7d;
    font-size: 1.063em; /* 17px */
    line-height: 1.2;
    font-weight: 400;
  }
}


.contentBox:last-child {
  margin-right: 0;
}
