.MockUp{
  text-align: center;
  background: #FFF;
   img {
     width: 100%;
     max-width: 1200px;

     margin-top: 80px;
     margin-bottom: 80px;
     
     margin-left: auto;
     margin-right: auto;
   }
}
