.MockUp{
  text-align: center;
  background: #FFF;
  h2 {
    color: #8c8b8b;
  }
   img {
     width: 100%;
     max-width: 1200px;

     margin-bottom: 80px;
     
     margin-left: auto;
     margin-right: auto;
   }
}
