.MockUp{
  text-align: center;
  background: #FFF;
   img {
     width: 100%;
     max-width: 1200px;
     margin-top: 120px;

     margin-bottom: 120px;
     margin-left: auto;
     margin-right: auto;
   }
}
