.partnersContainer {
  background: url('../../img/FundoParceiros.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  text-align: center;
  > .wrapper {
    h3 {
      color: #FFF;
    }
    > .contentBox {
      max-width: 380px;
      > h4 {
        color: #3ec4e3;
      }
      > p {
        color: #FFF;
      }
      > ul {
        margin: 10px;
        padding-left: 0;
        list-style: none;
        text-align: justify;
        > li {
          p {
            margin: 0;
            font-size: 1em;
            color: #FFF;
          }
        }
      }
    }
  }
}

.partnersButton {
  width: 300px;
  margin: 0px auto;
  margin-bottom: 120px;
}
