.productBox {
  width: 100%;
  max-width: 250px;


  margin-top: 120px;
  padding: 15px;

  float: left;
  text-align: center;

  border-radius: 5px;

  transition: .3s ease-in;
  will-change:box-shadow, background;

  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: productBoxfadeInUp;
  animation-name: productBoxfadeInUp;

    > h4 {
      width: 200px;
      margin: 15px auto;
      text-align: center;
      color: #3ec4e3;
      font-size: 1.563em; /* 25px */
      font-weight: 700;
      line-height: 1;
    }
    > p {
      margin: 10px;
      text-align: center;
      color: #FFF;
      font-size: 1.063em; /* 17px */
      font-weight: 400;
    }
    > span {
      text-align: center;
    }

}

.productBox:hover {
  box-shadow: 0 2px 7px rgba(0,0,0,.15);
  background: rgba(255, 255, 255, 0.1);
}

.productBox:last-child {
  margin-right: 0;
  margin-bottom: 120px;
}

@-webkit-keyframes productBoxfadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
