.servicesContainer {
  background: #001b4b; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#001b4b, #1883bb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#001b4b, #1883bb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#001b4b, #1883bb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#001b4b, #1883bb); /* Standard syntax */

  > .wrapper {
    h2 {
      color: #FFF;
    }
    h3 {
      color: #E0E0E0;
    }
    .service-container{
      width: 100%;
      max-width: 1200px;
      height: 100%;
      min-height: 520px;
      margin: 80px auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
    }
  }
}