.underStandingProcess{
  background: rgba(252, 252, 252, 0.1);
  > .wrapper {
    > .steps-container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
      margin-bottom: 80px;
      margin-top: 80px;
    }
  }
}

.stepBox {
  max-width: 250px;
}

.arrowBox {
  max-width: 50px;
  > span {
    font-size: 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 520px){
  .arrowBox {
    max-width: 0;
    max-height: 0;
    visibility: hidden;
  }
}
